In [1]:
fruits = ["Apple", "Banana", "Cherry", "Orange", "Grapes"]
fruits[2]

'Cherry'

In [33]:
nums = ['1', '2', '3', '4']
nums2 = ['5', '6', '7', '8']
allnums = nums+nums2
allnums

['1', '2', '3', '4', '5', '6', '7', '8']

In [8]:
abc = allnums[0]+allnums[4]+allnums[7]
list(abc)

['1', '5', '8']

In [12]:
movies = ['Batman', 'antman', 'ironman', 'Spiderman', 'Godfather']
movies
tuple(movies)

('Batman', 'antman', 'ironman', 'Spiderman', 'Godfather')

In [13]:
cities = ['Paris', 'Madrid', 'Lisbon', 'Monaco', 'London']
'Paris' in cities

True

In [14]:
nums = ['1', '2', '3', '4']
dnums = nums * 2
dnums

['1', '2', '3', '4', '1', '2', '3', '4']

In [38]:
allnums[0],allnums[-1] = allnums[-1], allnums[0]
allnums

['8', '2', '3', '4', '5', '6', '7', '1']

In [40]:
mytuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
mytuple[2:7]

(3, 4, 5, 6, 7)

In [41]:
colors = ['blue','red','blue','black','white']
colors.count('blue')

2

In [44]:
animals = ('tiger','dog', 'cat', 'elephant', 'lion', 'whale')
animals.index('lion')

4

In [45]:
a = mytuple + mytuple
a

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [49]:
print(len(animals))
print(len(colors))

6
5

In [50]:
g = list(animals)
g

['tiger', 'dog', 'cat', 'elephant', 'lion', 'whale']

In [51]:
print(max(a))
print(min(a))

10
1

In [52]:
animals[::-1]

('whale', 'lion', 'elephant', 'cat', 'dog', 'tiger')