In [1]:
txt = input()
vowels = "aeiou"
result = []
count = 0

for i, char in enumerate(txt):
    result.append(char)
    if char not in vowels:
        count += 1
    if count % 3 == 0 and i < len(txt) - 1:
        result.append("_")

print("".join(result))

wekj_fnef_refer_ge

In [5]:
n = int(input())
for i in range(n):
    i **= 2
    print(i)

In [6]:
count = 0
n = 10
while  n > 0:
 count += 1
 n -=1
 print(count)

1
2
3
4
5
6
7
8
9
10

In [22]:
i = 1
while i <= 25:
    j = 1
    while j <= i:
        print(j, end=" ")
        j += 1
    print()
    i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10 11
1 2 3 4 5 6 7 8 9 10 11 12
1 2 3 4 5 6 7 8 9 10 11 12 13
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [25]:
sum = 0
n = int(input())
while  n > 0:
    sum += n
    n -=1
print(sum)

15

In [28]:
count = 0
n = 10
m = int(input())
while  n > 0:
    count += 1
    n -=1
    print(count * m)

2
4
6
8
10
12
14
16
18
20

In [31]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if 75 <= i <= 150:
        print(i)

75
150
145

In [34]:
count = 0
n = int(input())
while  n > 0:
    count += 1
    n //= 10
print(count)

6

In [42]:
i = 5
while i >= 1:
    j =i
    while j >= 1:
        print(j, end=" ")
        j -= 1
    print()
    i -= 1

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [44]:
list1 = [10, 20, 30, 40, 50]
for i in list1[::-1]:
    print(i)

50
40
30
20
10

In [45]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [46]:
for i in range(5):
    print(i)
print('Done!')

0
1
2
3
4
Done!

In [59]:
a = int(input())
b = int(input())
for num in range(a,b+1):
    if num>1:
        prime = True
        for i in range(2, int(num**0.5)+1):
            if num % i == 0:
                prime = False
                break
        if prime:
            print(num)

29
31
37
41
43
47
53

In [69]:
n = int(input())
a = 0
b = 1
for i in range(n):
    tot = a + b
    a = b
    b = tot
    print(tot, end = ' ')

1 2 3 5 8 13 21 34 55 89

In [76]:
n = int(input())
a = 1
for i in range (1,n+1):
    a *= i
print(a)

1

In [82]:
list1 = [1, 1, 2]
list2 = [2, 3, 4,2,7]
result = [x for x in list1 + list2 if x in list1 and x not in list2 or x in list2 and x not in list1]

print(result)

[1, 1, 3, 4, 7]